<div class="camp" data-camp-id="{{ camp ? camp.id : '' }}">
  {{#if camp}}

    <div class="row">
      <div class="col col-100 col-md-50">
		<h3>{{ camp.title }}</h3>
		<p>{{ camp.description }}</p>

        <ul>
          {{#if userLocation && camp.location}}
            <li>Distance: {{ round(distance(camp.location, userLocation)) }}&nbsp;mi</li>
          {{/if}}

          {{#if camp.website}}
            <li>
              Website: <a href="{{ websiteURL }}" rel="noopener" target="_blank">{{ websiteText }}</a>
            </li>
          {{/if}}

          <li>Categories: {{ camp.categories.join(', ') }}

          <li>
            Price:
            ${{ camp.minPrice }}
            {{ camp.maxPrice && camp.maxPrice !== camp.minPrice ? ' - $' + camp.maxPrice : '' }}
          </li>

          <li>Dates: {{ camp.start.toFormat('MMM d') }} - {{ camp.end.toFormat('MMM d') }}</li>

          {{#if camp.phone}}
            <li>Phone: {{ camp.phone }}</li>
          {{/if}}

          <li>Types:
            {{ camp.types
              .map(t => t.type)
              .sort(sortDayTypes)
              .map(displayDayTypes)
              .join(', ') }}
          </li>

          <li>
            Ages:

            {{#if camp.who.type === 'grade'}}
              {{ camp.who.entering ? 'Entering' : 'Completed' }}
              grades
              {{ displayGrade(camp.who.min) }}
              {{ camp.who.min !== camp.who.max ? '- ' + displayGrade(camp.who.max) : '' }}
            {{elseif camp.who.type === 'age'}}
              {{ camp.who.min }}
              {{ camp.who.min !== camp.who.max ? '- ' + (camp.who.max === 99 ? 'adult' : camp.who.max) : '' }}
            {{elseif camp.who.type === 'family'}}
              Family
            {{/if}}

            {{#if camp.who.specialNeedsAdults}}
              (as well as adults with developmental disabilities)
            {{/if}}
          </li>

          {{#if camp.who.specifically}}
            <li>Specifically for: {{ camp.who.specifically }}</li>
          {{/if}}
        </ul>
      </div>


      <div class="col col-100 col-md-50 hide-maps-mobile">
        {{#if camp.location }}
          <a href="http://maps.google.com/?q={{ camp.location.lat }},{{ camp.location.lng }}" target="_blank">
            <img src="{{ mapImage(camp.location.lat, camp.location.lng, mapStylesStrings, mapMarkerColor) }}&zoom=17"
            alt="Location map of {{ camp.title }}">
          </a>

        {{/if}}
      </div>
    </div>
  {{/if}}
</div>

<script>
import mapStyles from '../app/map-styles.js';
import {
  distance,
  displayGrade,
  displayDayTypes,
  sortDayTypes,
  mapStylesJSONToFlat
} from '../app/common.js';

export default {
  helpers: {
    displayGrade,
    displayDayTypes,
    sortDayTypes,

    distance: function(location, userLocation) {
      if (location && location.lat && userLocation && userLocation.lat) {
        return distance(
          location.lat,
          location.lng,
          userLocation.lat,
          userLocation.lng
        );
      }
    },

    round: function(input, decimals = 1) {
      return (
        Math.round(input * Math.pow(10, decimals)) / Math.pow(10, decimals)
      );
    },

    mapImage: function(lat, lng, mapStylesStrings, mapMarkerColor) {
      // https://developers.google.com/maps/documentation/static-maps/intro#Markers
      return `https://maps.googleapis.com/maps/api/staticmap?center=${encodeURIComponent(
        lat
      )},${encodeURIComponent(lng)}&markers=${encodeURIComponent(
        ['color:' + mapMarkerColor, 'size:normal', lat + ',' + lng].join('|')
      )}&zoom=12&format=png&size=454x${Math.floor(
        500 * (9 / 16)
      )}&key=AIzaSyD0Gx05asYIOKYx-dDSJWdNukZ9vXkFYBs&${mapStylesStrings
        .map(s => 'style=' + encodeURIComponent(s))
        .join('&')}`;
    }
  },
  computed: {
    websiteText: camp => {
      return camp && camp.website
        ? camp.website
            .replace(/^https?:\/\//i, '')
            .replace(/www\./i, '')
            .replace(/\/$/, '')
        : '';
    },

    websiteURL: camp => {
      return camp && camp.website
        ? !camp.website.match(/^http/i)
          ? `http://${camp.website}`
          : camp.website
        : '';
    }
  },

  data: () => {
    return {
      mapStylesStrings: mapStylesJSONToFlat(mapStyles),
      mapMarkerColor: '0x00824a'
    };
  }
};
</script>
