<div class="input-slider-wrapper cf {{ notes ? 'has-notes' : '' }}">
  <div class="input-slider-label">
    <span class="label">{{ label }}:</span>
    <span class="value">{{ formatUnit(minValue) }}</span> -
    <span class="value">{{ formatUnit(maxValue) }}</span>
  </div>

  {{#if notes}}
    <p class="filter-note">{{{ notes }}}</p>
  {{/if}}

  <div class="input-slider" ref:slider></div>
</div>

<script>
import slider from 'nouislider';
import { track } from '../app/common.js';

export default {
  oncreate: function() {
    // Initial slider
    this.slider = slider.create(this.refs.slider, {
      start: [
        this.get('minValue') || this.get('min'),
        this.get('maxValue') || this.get('max')
      ],
      //snap: true,
      connect: true,
      step: this.get('step'),
      behaviour: 'tap-drag',
      range: this.get('range') || {
        min: this.get('min'),
        max: this.get('max')
      },
      pips: {
        mode: 'range',
        stepped: true,
        density: 5,
        format: {
          to: this.get('formatUnit'),
          from: t => t
        }
      }
    });

    // React to component changes

    // React to slier changes
    this.slider.on('update', () => {
      let v = this.slider.get();

      this.set({
        minValue: parseInt(v[0], 10),
        maxValue: parseInt(v[1], 10)
      });

    });

    // Track
    this.slider.on('end', () => {
      let v = this.slider.get();
      this.track(`slider_filter ${this.get('label')}`, `${v[0]}-${v[1]}`);
    });
  },

  methods: {
    track
  },

  data: () => {
    return {
      min: 0,
      max: 1000,
      step: 50,
      label: 'Price',
      formatUnit: input => {
        return input && input.toLocaleString
          ? '$' + input.toLocaleString({ style: 'currency', currency: 'USD' })
          : input;
      }
    };
  }
};
</script>
