<div class="input-date-range">
  <label for="input-date-range-{{ id }}-fields">{{ label }}</label>

  <div id="input-date-range-{{ id }}-fields">
    <label for="input-date-range-{{ id }}-min" class="sr-only">Minimum date</label>
    <input id="input-date-range-{{ id }}-min" type="date"
      min="{{ min && min.toISODate ? min.toISODate() : min }}"
      max="{{ max && max.toISODate ? max.toISODate() : max }}"
      bind:value="minValue">

      <label for="input-date-range-{{ id }}-min" class="sr-only">Maximum date</label>
    <input id="input-date-range-{{ id }}-max" type="date"
      min="{{ min && min.toISODate ? min.toISODate() : min }}"
      max="{{ max && max.toISODate ? max.toISODate() : max }}"
      bind:value="maxValue">
  </div>
</div>

<script>
export default {
  oncreate: function() {
    // Set default values.  Note that (in chrome) if you X out date
    // then seting value again doesn't matter
    this.observe('minValue', n => {
      let m = this.get('min');
      if (!n && m) {
        this.set({ minValue: m.toISODate ? m.toISODate() : m });
      }
    });
    this.observe('maxValue', n => {
      let m = this.get('max');
      if (!n && m) {
        this.set({ maxValue: m.toISODate ? m.toISODate() : m });
      }
    });
  },

  data: () => {
    return {
      id: Math.floor(Math.random() * 1000000),
      label: 'Date range'
    };
  }
};
</script>
