<div class="input-date-range">
  <label for="input-date-range-{{ id }}-fields" class="top-label">{{ label }}</label>

  <div id="input-date-range-{{ id }}-fields" class="input-date-range-fields">
    <label for="input-date-range-{{ id }}-min" class="sr-only">Minimum date</label>

    {{#if !isIE }}
      <input id="input-date-range-{{ id }}-min" type="date"
        min="{{ min && min.toISODate ? min.toISODate() : min }}"
        max="{{ max && max.toISODate ? max.toISODate() : max }}"
        bind:value="minValue">
    {{else}}
      <input ref:dateMin id="input-date-range-{{ id }}-min" type="text"
        bind:value="minValue">
    {{/if}}

    <span class="input-date-range-spacer">to</span>

    <label for="input-date-range-{{ id }}-min" class="sr-only">Maximum date</label>

    {{#if !isIE }}
      <input id="input-date-range-{{ id }}-max" type="date"
        min="{{ min && min.toISODate ? min.toISODate() : min }}"
        max="{{ max && max.toISODate ? max.toISODate() : max }}"
        bind:value="maxValue">
    {{else}}
      <input ref:dateMax id="input-date-range-{{ id }}-max" type="text"
        bind:value="maxValue">
    {{/if}}
  </div>
</div>

<script>
import { track } from '../app/common.js';

export default {
  oncreate: function() {
    // The way svelte creates the input type date that IE doesn't like,
    // throws an error, but this is ok.  :/
    if (this.get('isIE')) {
      this.refs.dateMin.setAttribute('type', 'date');
      this.refs.dateMax.setAttribute('type', 'date');
    }

    // Set default values.  Note that (in chrome) if you X out date
    // then seting value again doesn't matter
    this.observe('minValue', n => {
      let m = this.get('min');
      if (!n && m) {
        this.set({ minValue: m.toISODate ? m.toISODate() : m });
      } else if (n) {
        this.track('date_filter_min', n);
      }
    });

    this.observe('maxValue', n => {
      let m = this.get('max');
      if (!n && m) {
        this.set({ maxValue: m.toISODate ? m.toISODate() : m });
      } else if (n) {
        this.track('date_filter_max', n);
      }
    });
  },

  methods: {
    track
  },

  data: () => {
    return {
      id: Math.floor(Math.random() * 1000000),
      label: 'Date range',
      isIE: typeof window !== 'undefined' && typeof document !== 'undefined' && document.documentMode
    };
  }
};
</script>
