/**
 * Styles for camps
 */

.no-maps .camp {
  margin-bottom: 3em;

  @media only screen and (min-width: map-get($breakpoints, 'md')) {
    width: 49%;
    border: 1px solid #CCCCCC;
    margin-bottom: 2%;
    padding: 2em;

    ul {
      margin-bottom: 0;
    }
  }
}

.camp {
  color: #444444;

  h3 {
    font-size: 1.75em;
    padding-top: 0;
  }

  p {
    @include font-styles('benton-sans');

    margin-bottom: 1em;
    padding-right: 0.5em;
  }

  ul {
    padding-left: 1em;
  }

  ul li {
    font-size: 0.9em;
    margin-bottom: 0.2em;
    list-style-type: disc;
  }

  figure a {
    display: block;
    margin-bottom: 0.5em;
  }

  .col-100 {
    margin-bottom: 2em;
  }

  .col-md-50 {
    margin-bottom: 2em;
  }
}
