.filters {
  margin-bottom: 2em;
  background-color: map-get($grays, 'lightest');
  padding: 1em;

  // Where's the cf
  &:after {
    content: '';
    display: table;
    clear: both;
  }

  .filters-column {
    float: left;
    width: 33.33332%;
    padding-right: 0.5em;
  }
}
