.filters {
  font-size: 15px;
  margin-bottom: 3em;
  background-color: map-get($grays, 'lightest');
  padding: 1em;

  @media only screen and (min-width: map-get($breakpoints, 'md')) {
    padding: 2em;
    margin-bottom: 4em;
  }

  .row {
    position: relative;
  }

  label.top-label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  input[type='text'],
  input[type='date'] {
    display: block;
    padding: 0.5em;
    margin: 0 0 0.5em;
    width: 100%;
    outline: none;
    border: 1px solid map-get($grays, lighter);
  }

  .filter-note {
    @include font-styles('benton-sans');

    text-align: left;
    font-size: 0.8em;
    color: map-get($grays, 'medium');
    margin-top: 0.25em;
    margin-bottom: 0.5em;
  }

  .action-button {
    background-color: map-get($theme, 'green-dark-alt');
    border: 1px solid map-get($theme, 'green-dark-alt');
    color: $color-white;
    outline: none;
    padding: 0.5em;
  }

  .inline-form-group {
    display: flex;
    margin-bottom: 1em;

    input,
    button {
      margin: 0;
    }

    button {
      flex: 0;
      display: inline-block;
      white-space: nowrap;
    }

    input {
      flex: 1;
    }
  }

  .checkbox-filter-option {
    display: flex;
    margin-bottom: 0.25em;

    input {
      margin: 0.25em 0.5em 0 0;
    }

    label {
      width: 100%;
      margin: 0;
    }

    &.sub-category {
      padding-left: 1.5em;
    }
  }

  // Filter wrapper and toggle
  .filter-buttons {
    margin-bottom: 1em;
    margin-right: -4%;

    @media only screen and (min-width: map-get($breakpoints, 'md')) {
      display: none;
    }
  }

  .toggle-filter {
    background-color: $color-white;
    border: 1px solid map-get($grays, 'light');
    outline: none;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 0.15em;
    margin: 0 0.5em 0.5em 0;
    width: 46.5%;

    @media only screen and (min-width: 320px) and (max-width: 360px) {
      width: 96%;
    }

    @media only screen and (min-width: map-get($breakpoints, 'md')) {
      font-size: 1.25em;
    }

    &:hover {
      color: $color-text;
      background-color: map-get($grays, 'lightest');
    }

    .filter-button-status {
      display: block;
      font-size: 0.75em;
      color: map-get($grays, 'medium');
    }

    &.active-filter {
      color: $color-white;
      background-color: map-get($theme, 'green-dark-alt');
      font-weight: bold;

      .filter-button-status {
        color: $color-white;
        font-weight: normal;
      }
    }
  }

  .filter-toggle-close {
    display: none;
    position: absolute;
    right: 2.15em;
    top: 0.5em;
    border-radius: 50%;
    background-color: map-get($grays, 'light');
    text-align: center;
    padding: 0;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;

    &.active-filter {
      display: block;
    }

    &:hover {
      background-color: map-get($grays, 'lighter');
    }

    @media only screen and (min-width: map-get($breakpoints, 'md')) {
      &,
      &.active-filter {
        display: none;
      }
    }
  }

  .filter-input {
    margin-bottom: 2em;
    display: none;
    background-color: $color-white;
    padding: 1em;

    @media only screen and (min-width: map-get($breakpoints, 'md')) {
      display: block;
      padding: 0;
      margin: 0 0 2em;
      background-color: transparent;
    }

    &.active-filter {
      display: block;
    }

    &.address-search {
      display: block;
      background-color: inherit;
      padding: 0;
      margin: 0;
    }
  }

  // Category filter
  .filter-categories {
    background-color: #FFFFFF;
    //height: 28.25em;
    height: 15em;
    overflow-y: scroll;
    max-height: 80vh;

    @media only screen and (min-width: map-get($breakpoints, 'md')) {
      padding: 0.5em;
      height: 28.5em;
    }
  }

  // Sliders
  .filter-input-slider {
    @media only screen and (min-width: map-get($breakpoints, 'md')) {
      margin-bottom: 5.5em;
    }
  }

  .input-slider-wrapper .filter-note {
    margin-bottom: 1em;
  }

  .noUi-value {
    font-size: 0.85em;
  }

  .noUi-value.noUi-value-horizontal.noUi-value-large {
    line-height: 2em;
  }

  // Address search
  .found-address {
    font-size: 0.8em;
    line-height: 1.4em;
    color: map-get($grays, 'medium');
    padding-bottom: 1em;
  }

  .geocoding-error {
    font-style: italic;
    color: map-get($theme, 'red-dark');
  }
}
