.hero {
  padding: 0;
  margin-bottom: 2em;
  text-align: center;

  img {
    max-width: 15em;
    margin: 0 auto 1em;

    @media only screen and (min-width: map-get($breakpoints, 'lg')) {
      display: block;
      float: left;
      width: 25%;
      margin-bottom: 0;
    }
  }

  .hero-title {
    @media only screen and (min-width: map-get($breakpoints, 'lg')) {
      display: block;
      float: left;
      width: 75%;
      text-align: left;
      padding-left: 1em;
      padding-top: 1em;
    }
  }

  h1 {
    text-transform: uppercase;
    font-size: 3em;
    line-height: 90%;
    padding: 0;
    margin-bottom: 0.5rem;

    @media only screen and (min-width: map-get($breakpoints, 'md')) {
      font-size: 4em;
    }
  }

  .lead {
    font-size: 1.5em;
    margin: 0 auto;
    max-width: 30em;
    padding: 0 1em;

    @media only screen and (min-width: map-get($breakpoints, 'lg')) {
      padding: 0;
    }
  }
}
