.hero {
  padding-top: 0;

  img {
    max-width: 10em;
    margin-bottom: 2em;
  }

  h1 {
    text-transform: uppercase;
    font-size: 4em;
    margin: 0 0 .25em 0;
  }

  .lead {
    font-size: 1.6em;
  }
}
