/**
 * Input range
 */

.input-slider-wrapper {
  padding: 0 1em;
  margin-bottom: 4em;

  .input-slider-label {
    margin-bottom: 0.5em;
  }

  .noUi-connect {
    background-color: map-get($theme, 'green-dark-alt');
  }
}
