/**
 * Project specific styling.
 */

& {
  padding-top: 3em;
  margin-bottom: 3em;
  min-height: 15em;
}

// Mobile page container doesn't account for fixed header
.page-mobile & {
  padding-top: 5em;
}

.cf {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.project-footer {
  font-size: 0.85em;
  color: map-get($grays, medium);
  border-top: 1px solid #959595;
  padding-top: 1em;
  margin-top: 3em;

  p {
    margin-bottom: 1em;
  }
}
