/**
 * Project specific styling.
 */

& {
  padding-top: 1.5em;
  margin-bottom: 3em;
  min-height: 15em;
}

// Mobile page container doesn't account for fixed header
.page-mobile & {
  padding-top: 2em;
}

.cf {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.no-camps {
  max-width: 40em;
  margin: 3em auto 4em;
  font-style: italic;
}

.project-footer {
  font-size: 0.8em;
  color: map-get($grays, medium);
  border-top: 1px solid #959595;
  padding-top: 1em;
  margin-top: 3em;

  p {
    @include font-styles('benton-sans');

    margin-bottom: 1em;
  }
}

.article-share {
  margin-top: 0;
  margin-bottom: 2em;
}

.no-maps .camps {
  @media only screen and (min-width: map-get($breakpoints, 'md')) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2em;
  }
}
